<div class="tank">
    <h1>Tank 1</h1>
    <p>Saturation = {{data["sat0"]}}</p>
    <p>online = {{data["online0"]}}</p>
    <p>Float Alarm = {{data["floatAlarm0"]}}</p>
    <p>O2 Alarm = {{data["o2Alarm0"]}}</p>
    <p>pressure = {{data["pressure0"]}}</p>
    <form method="POST">
        <div>
            <input type="hidden" name="tankNum" value="0">
            <input type="submit" value="Show Detail">
        </div>
    </form>
</div>
<div class="tank">
    <h1>Tank 2</h1>
    <p>Saturation = {{data["sat1"]}}</p>
    <p>online = {{data["online1"]}}</p>
    <p>Float Alarm = {{data["floatAlarm1"]}}</p>
    <p>O2 Alarm = {{data["o2Alarm1"]}}</p>
    <p>pressure = {{data["pressure1"]}}</p>
    <form method="POST">
        <div>
            <input type="hidden" name="tankNum" value="1">
            <input type="submit" value="Show Detail">
        </div>
    </form>
</div>
<div class="tank">
    <h1>Tank 3</h1>
    <p>Saturation = {{data["sat2"]}}</p>
    <p>online = {{data["online2"]}}</p>
    <p>Float Alarm = {{data["floatAlarm2"]}}</p>
    <p>O2 Alarm = {{data["o2Alarm2"]}}</p>
    <p>pressure = {{data["pressure2"]}}</p>
    <form method="POST">
        <div>
            <input type="hidden" name="tankNum" value="2">
            <input type="submit" value="Show Detail">
        </div>
    </form>
</div>
